version: "3.9"

services:
  finance-backend:
    build:
      context: ..
      dockerfile: deploy/backend.Dockerfile
    environment:
      APP_ENV: production
      HTTP_PORT: "8888"
      DB_DRIVER: "${DB_DRIVER}"
      DB_HOST: "${DB_HOST}"
      DB_PORT: "${DB_PORT}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_NAME: "${DB_NAME}"
      DB_SSLMODE: "${DB_SSLMODE}"
      DB_TIMEZONE: "${DB_TIMEZONE}"
    expose:
      - "8888"
    restart: unless-stopped

  finance-frontend:
    build:
      context: ..
      dockerfile: deploy/frontend.Dockerfile
    ports:
      - "80:80"
    depends_on:
      - finance-backend
    restart: unless-stopped
